#calendar{
    position: absolute;
    top: 0;
    width: 80%;
    min-height: 80%;
    height: fit-content;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 8px rgb(201, 201, 201);
    #current-displayed{
        text-align: center;
        font-size: 1.6rem;
        font-weight: bold;
    }
    table{
        margin: 0 auto;
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        margin: 10px 0;
        tr{
            padding: 4px 6px;
        }
        td{
            padding: 10px 6px;
            height: 60px;
            cursor: pointer;
        }
        td:hover{
            background-color: rgba(61, 255, 255, 0.28);
        }
        .calendar-day{
            color: #ddd;
            p{
                border-radius: 50%;
                width: fit-content;
                margin: 0 auto;
                padding: 8px;
            }
        }
        .this-month{
            color:black;
        }
        .today{
            background-color: rgb(36, 214, 176);
        }

    }
    table, th, td{
        border:1px solid rgb(136, 133, 133);
    }

    #btn-area{
        position: absolute;
        right: 20px;
        top: 0;
        button{
            width: 30px;
            height: 30px;
            background-color: rebeccapurple;
            margin: 10px;
            cursor: pointer;
        }
        #right{
            clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
        }
        #left{
            clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
        }
    }
}